In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.offline as pyo
import kaleido

/home/elina/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# KModes

In [3]:
df_ite_kmode_cao = pd.read_csv('clustering_result/df_ite_kmodes_range.csv')
pd.set_option('display.max_columns', None)
df_ite_kmode_cao.head()

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,21,59,430,499,568,524,465,668,1933,1301,3513,5512,5894,4662,3744,3546,3360,3397,3557,4208,4020,4591,3854.0,3778.0,4438,3835.5,3658,3634,3798,3994,3962,3678,3656.0,3355,3347,3377.0,4751,3668,4271.5,3807,3660.0,3646.5,3735,3434,3491.5,3339,3309,3312,4357,3840.0,3595,3752.5,3936.0,5843,5068,5488,4283,3862,5565,5068,4644,5351,4498
1,11,5,89,105,197,210,239,441,423,874,1466,2193,2358,2000,1606,1461,1372,1400,1447,2111,2013,2333,1826.5,1782.0,2220,1791.0,1562,1588,1630,1748,1796,1422,1727.0,1614,1510,1545.5,2286,1594,2168.0,2191,1939.5,1904.5,2108,1699,1660.0,1510,1458,1461,2416,2042.5,1979,1909.5,2094.0,2250,1771,2164,1860,1856,2225,2133,1733,2251,1985

In [4]:
df_ite_kmode_cao.loc[0] = df_ite_kmode_cao.iloc[0]/3234
df_ite_kmode_cao.loc[1] = df_ite_kmode_cao.iloc[1]/1297
df_ite_kmode_cao

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,0.006494,0.018244,0.132962,0.154298,0.175634,0.162028,0.143785,0.206555,0.597712,0.402288,1.086271,1.704391,1.822511,1.441558,1.157699,1.096475,1.038961,1.050402,1.099876,1.301175,1.243043,1.419604,1.191713,1.168213,1.372294,1.185993,1.131107,1.123686,1.174397,1.235003,1.225108,1.137291,1.130489,1.037415,1.034941,1.044218,1.469079,1.134199,1.32081,1.177180,1.131725,1.127551,1.154917,1.061843,1.079623,1.032468,1.023191,1.024119,1.347248,1.187384,1.111626,1.160328,1.217069,1.806741,1.567100,1.696970,1.324366,1.194187,1.720779,1.567100,1.435993,1.654607,1.390847
1,0.008481,0.003855,0.068620,0.080956,0.151889,0.161912,0.184271,0.340015,0.326137,0.673863,1.130301,1.690825,1.818042,1.542020,1.238242,1.126446,1.057826,1.079414,1.115652,1.627602,1.552043,1.798766,1.408250,1.373940,1.711642,1.380879,1.204318,1.224364,1.256746,1.347726,1.384734,1.096376,1.331534,1.244410,1.164225,1.191596,1.762529,1.228990,1.67155,1.689283,1.495374,1.468389,1.625289,1.309946,1.279877,1.164225,1.124133,1.126446,1.862760,1.574788,1.525829,1.472244,1.614495,1.734773,1.365459,1.668466,1.434079,1.430995,1.715497,1.644564,1.336160,1.735544,1.530455

In [5]:
df_ite_kmode_cao.loc[0] = df_ite_kmode_cao.iloc[0]/3234
df_ite_kmode_cao.loc[1] = df_ite_kmode_cao.iloc[1]/1297
df_ite_kmode_cao

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,0.000002,0.000006,0.000041,0.000048,0.000054,0.000050,0.000044,0.000064,0.000185,0.000124,0.000336,0.000527,0.000564,0.000446,0.000358,0.000339,0.000321,0.000325,0.00034,0.000402,0.000384,0.000439,0.000368,0.000361,0.000424,0.000367,0.000350,0.000347,0.000363,0.000382,0.000379,0.000352,0.000350,0.000321,0.000320,0.000323,0.000454,0.000351,0.000408,0.000364,0.000350,0.000349,0.000357,0.000328,0.000334,0.000319,0.000316,0.000317,0.000417,0.000367,0.000344,0.000359,0.000376,0.000559,0.000485,0.000525,0.000410,0.000369,0.000532,0.000485,0.000444,0.000512,0.00043
1,0.000007,0.000003,0.000053,0.000062,0.000117,0.000125,0.000142,0.000262,0.000251,0.000520,0.000871,0.001304,0.001402,0.001189,0.000955,0.000869,0.000816,0.000832,0.00086,0.001255,0.001197,0.001387,0.001086,0.001059,0.001320,0.001065,0.000929,0.000944,0.000969,0.001039,0.001068,0.000845,0.001027,0.000959,0.000898,0.000919,0.001359,0.000948,0.001289,0.001302,0.001153,0.001132,0.001253,0.001010,0.000987,0.000898,0.000867,0.000869,0.001436,0.001214,0.001176,0.001135,0.001245,0.001338,0.001053,0.001286,0.001106,0.001103,0.001323,0.001268,0.001030,0.001338,0.00118

In [6]:
df_mca_kmode_cao = pd.read_csv('clustering_result/df_mca_kmodes.csv')
pd.set_option('display.max_columns', None)
df_mca_kmode_cao.head()

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,19,59,436,506,578,513,465,665,1978,1263,3527,5522,5905,4676,3753,3556,3372,3406,3561,4230,4025,4639,3851.0,3790.0,4458,3816.0,3666,3644,3803,3998,3971,3682,3649.0,3356,3355,3376.0,4766,3677,4201.0,3806,3660.5,3631.5,3729,3445,3482.5,3337,3308,3315,4360,3811.0,3594,3740.0,3876.0,5855,5061,5498,4294,3889,5570,5067,4640,5353,4515
1,13,5,86,102,186,208,231,459,411,879,1453,2181,2344,1986,1598,1451,1360,1392,1448,2085,2007,2305,1791.5,1756.0,2195,1761.0,1555,1581,1627,1739,1784,1418,1714.0,1611,1502,1540.0,2269,1586,2164.5,2188,1931.0,1897.5,2116,1693,1646.0,1510,1456,1456,2430,2039.5,1993,1901.5,2135.5,2236,1778,2144,1858,1831,2219,2132,1734,2247,1968

In [7]:
df_mca_kmode_cao.loc[0] = df_mca_kmode_cao.iloc[0]/3241
df_mca_kmode_cao.loc[1] = df_mca_kmode_cao.iloc[1]/1290
df_mca_kmode_cao

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,0.005862,0.018204,0.134526,0.156125,0.178340,0.158284,0.143474,0.205184,0.610305,0.389695,1.088244,1.703795,1.821969,1.442765,1.157976,1.097192,1.040420,1.05091,1.098735,1.305153,1.241901,1.431348,1.188214,1.169392,1.375501,1.177414,1.131132,1.124344,1.173403,1.233570,1.225239,1.136069,1.125887,1.035483,1.035174,1.041654,1.470534,1.134526,1.296205,1.174329,1.129435,1.120488,1.150571,1.062944,1.074514,1.029620,1.020673,1.022832,1.345264,1.175872,1.108917,1.153965,1.195927,1.806541,1.561555,1.696390,1.32490,1.199938,1.718605,1.563406,1.431657,1.651651,1.393089
1,0.010078,0.003876,0.066667,0.079070,0.144186,0.161240,0.179070,0.355814,0.318605,0.681395,1.126357,1.690698,1.817054,1.539535,1.238760,1.124806,1.054264,1.07907,1.122481,1.616279,1.555814,1.786822,1.388760,1.361240,1.701550,1.365116,1.205426,1.225581,1.261240,1.348062,1.382946,1.099225,1.328682,1.248837,1.164341,1.193798,1.758915,1.229457,1.677907,1.696124,1.496899,1.470930,1.640310,1.312403,1.275969,1.170543,1.128682,1.128682,1.883721,1.581008,1.544961,1.474031,1.655426,1.733333,1.378295,1.662016,1.44031,1.419380,1.720155,1.652713,1.344186,1.741860,1.525581

In [2]:
df_mf_kmode_cao = pd.read_csv('clustering_result/df_mf_kmodes.csv')
pd.set_option('display.max_columns', None)
df_mf_kmode_cao.head()

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,20,61,440,514,567,531,480,714,1994,1333,3621,5678,6066,4795,3851,3645,3456,3496,3661,4367,4156,4684,3953.5,3892.5,4507,3923.0,3765,3746,3922,4129,4096,3768,3760.0,3449,3443,3474.5,4917,3785,4360.0,3937,3770.0,3767.0,3861,3544,3594.5,3425,3394,3408,4426,3917.5,3700,3833.5,3982.0,6009,5189,5647,4344,3988,5725,5209,4759,5508,4636
1,12,5,88,100,186,190,216,407,390,814,1360,2025,2180,1875,1501,1364,1276,1301,1346,1954,1878,2118,1670.5,1633.0,1994,1624.5,1456,1483,1532,1621,1662,1332,1625.5,1525,1418,1463.5,2120,1484,2038.5,2060,1825.5,1785.5,2005,1603,1556.0,1430,1378,1370,2211,1897.5,1859,1767.0,1957.5,2081,1645,1995,1807,1738,2061,1991,1616,2086,1851

In [3]:
df_mf_kmode_cao.loc[0] = df_mf_kmode_cao.iloc[0]/3327
df_mf_kmode_cao.loc[1] = df_mf_kmode_cao.iloc[1]/1204
df_mf_kmode_cao

,11,12,13,14,15,16,17,18,Female,Male,QN6,QN7,QN8,QN9,QN10,QN11,QN12,QN13,QN14,QN15,QN16,QN17,QN18,QN19,QN20,QN21,QN22,QN23,QN24,QN25,QN26,QN27,QN28,QN29,QN30,QN31,QN32,QN33,QN34,QN35,QN36,QN37,QN38,QN39,QN40,QN41,QN42,QN43,QN44,QN45,QN46,QN47,QN48,QN49,QN50,QN51,QN52,QN53,QN54,QN55,QN56,QN57,QN58
0,0.006011,0.018335,0.132251,0.154494,0.170424,0.159603,0.144274,0.214608,0.599339,0.400661,1.088368,1.706643,1.823264,1.441238,1.157499,1.095582,1.038774,1.050797,1.100391,1.312594,1.249173,1.407875,1.188308,1.169973,1.354674,1.179140,1.131650,1.125939,1.178840,1.241058,1.231139,1.132552,1.130147,1.036670,1.034866,1.044334,1.477908,1.137662,1.310490,1.183348,1.133153,1.132251,1.160505,1.065224,1.080403,1.029456,1.020138,1.024346,1.330328,1.177487,1.112113,1.152239,1.196874,1.806132,1.559663,1.697325,1.305681,1.198677,1.720769,1.565675,1.430418,1.655546,1.393448
1,0.009967,0.004153,0.073090,0.083056,0.154485,0.157807,0.179402,0.338040,0.323920,0.676080,1.129568,1.681894,1.810631,1.557309,1.246678,1.132890,1.059801,1.080565,1.117940,1.622924,1.559801,1.759136,1.387458,1.356312,1.656146,1.349252,1.209302,1.231728,1.272425,1.346346,1.380399,1.106312,1.350083,1.266611,1.177741,1.215532,1.760797,1.232558,1.693106,1.710963,1.516196,1.482973,1.665282,1.331395,1.292359,1.187708,1.144518,1.137874,1.836379,1.575997,1.544020,1.467608,1.625831,1.728405,1.366279,1.656977,1.500831,1.443522,1.711794,1.653654,1.342193,1.732558,1.537375

# KMeans

In [4]:
df_ite_kMeans_2 = pd.read_csv('clustering_result/result_ite_kmeans_2.csv')
df_ite_kMeans_2.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,17,57,409,454,524,416,361,412,1659,991,3833.4,2828.5,3475.428571,3104.166667,3020.333333,3071.666667,2732.625,2799.4,4226.75,3944.166667
1,15,7,110,150,241,318,343,697,697,1184,2756.2,2056.5,2639.000000,2307.500000,2384.750000,2689.000000,2152.500,3184.9,2955.00,2917.666667

In [5]:
df_ite_kMeans_2.loc[0] = df_ite_kMeans_2.iloc[0]/2650
df_ite_kMeans_2.loc[1] = df_ite_kMeans_2.iloc[1]/1881
df_ite_kMeans_2

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.006415,0.021509,0.15434,0.171321,0.197736,0.156981,0.136226,0.155472,0.626038,0.373962,1.446566,1.067358,1.311482,1.171384,1.139748,1.159119,1.031179,1.056377,1.595000,1.488365
1,0.007974,0.003721,0.05848,0.079745,0.128123,0.169059,0.182350,0.370548,0.370548,0.629452,1.465284,1.093301,1.402977,1.226741,1.267810,1.429559,1.144338,1.693195,1.570973,1.551125

In [4]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.47,1.09,1.40,1.23,1.27,1.43,1.14,1.69,1.57,1.55]
cluster_2 = [1.45,1.07,1.31,1.17,1.14,1.16,1.03,1.06,1.60,1.49]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2')
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of Kmeans with number 2 on ite'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kmeans_ite_2.jpg")

In [2]:
df_ite_kMeans_6 = pd.read_csv('clustering_result/result_ite_kmeans_6.csv')
df_ite_kMeans_6.head(6)

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,5,3,21,24,53,49,38,79,90,182,408.6,330.25,429.642857,372.500000,434.416667,451.083333,476.125,428.5,426.25,436.500000
1,7,38,217,217,237,172,133,176,790,407,1722.2,1270.50,1372.785714,1325.166667,1312.000000,1253.666667,1209.875,1227.3,1919.00,1750.666667
2,7,3,63,84,117,149,171,324,416,502,1327.2,988.00,1186.000000,1082.833333,1035.500000,1009.500000,939.250,1542.7,1447.00,1383.833333
3,8,11,122,143,158,130,105,84,453,308,1118.2,825.25,1230.357143,996.500000,880.500000,808.833333,782.250,812.6,1204.50,1150.000000
4,3,1,29,45,84,135,154,339,258,532,1158.4,841.00,1106.500000,947.166667,1005.583333,1301.083333,845.375,1367.1,1243.50,1233.833333
5,2,8,67,91,116,99,103,107,349,244,855.0,630.00,789.142857,687.500000,737.083333,936.500000,632.250,606.1,941.50,907.000000

In [3]:
df_ite_kMeans_6.loc[0] = df_ite_kMeans_6.iloc[0]/272
df_ite_kMeans_6.loc[1] = df_ite_kMeans_6.iloc[1]/1197
df_ite_kMeans_6.loc[2] = df_ite_kMeans_6.iloc[2]/918
df_ite_kMeans_6.loc[3] = df_ite_kMeans_6.iloc[3]/761
df_ite_kMeans_6.loc[4] = df_ite_kMeans_6.iloc[4]/790
df_ite_kMeans_6.loc[5] = df_ite_kMeans_6.iloc[5]/593
df_ite_kMeans_6.head(6)

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.018382,0.011029,0.077206,0.088235,0.194853,0.180147,0.139706,0.290441,0.330882,0.669118,1.502206,1.214154,1.579569,1.369485,1.597120,1.658395,1.750460,1.575368,1.567096,1.604779
1,0.005848,0.031746,0.181287,0.181287,0.197995,0.143693,0.111111,0.147034,0.659983,0.340017,1.438764,1.061404,1.146855,1.107073,1.096074,1.047341,1.010756,1.025313,1.603175,1.462545
2,0.007625,0.003268,0.068627,0.091503,0.127451,0.162309,0.186275,0.352941,0.453159,0.546841,1.445752,1.076253,1.291939,1.179557,1.127996,1.099673,1.023148,1.680501,1.576253,1.507444
3,0.010512,0.014455,0.160315,0.187911,0.207622,0.170828,0.137976,0.110381,0.595269,0.404731,1.469382,1.084428,1.616764,1.309461,1.157030,1.062856,1.027924,1.067806,1.582786,1.511170
4,0.003797,0.001266,0.036709,0.056962,0.106329,0.170886,0.194937,0.429114,0.326582,0.673418,1.466329,1.064557,1.400633,1.198945,1.272890,1.646941,1.070095,1.730506,1.574051,1.561814
5,0.003373,0.013491,0.112985,0.153457,0.195616,0.166948,0.173693,0.180438,0.588533,0.411467,1.441821,1.062395,1.330764,1.159359,1.242974,1.579258,1.066189,1.022091,1.587690,1.529511

In [4]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.44,1.06,1.15,1.11,1.10,1.05,1.01,1.03,1.60,1.46]
cluster_2 = [1.47,1.08,1.62,1.31,1.16,1.06,1.03,1.07,1.58,1.51]
cluster_3 = [1.44,1.06,1.33,1.16,1.24,1.58,1.07,1.02,1.59,1.53]
cluster_4 = [1.45,1.08,1.29,1.18,1.13,1.10,1.02,1.68,1.58,1.51]
cluster_5 = [1.50,1.21,1.58,1.37,1.60,1.66,1.75,1.58,1.57,1.60]
cluster_6 = [1.47,1.06,1.40,1.20,1.27,1.65,1.07,1.73,1.57,1.56]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]
cluster_3 = [*cluster_3, cluster_3[0]]
cluster_4 = [*cluster_4, cluster_4[0]]
cluster_5 = [*cluster_5, cluster_5[0]]
cluster_6 = [*cluster_6, cluster_6[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2'),
        go.Scatterpolar(r=cluster_3, theta=categories, name='cluster 3'),
        go.Scatterpolar(r=cluster_4, theta=categories, name='cluster 4'),
        go.Scatterpolar(r=cluster_5, theta=categories, name='cluster 5'),
        go.Scatterpolar(r=cluster_6, theta=categories, name='cluster 6'),
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of Kmeans with number 6 on ite'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kmeans_ite_6.jpg")

In [8]:
df_mca_kMeans_2 = pd.read_csv('clustering_result/result_mca_kmeans_2.csv')
df_mca_kMeans_2.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,17,7,107,140,229,304,325,709,677,1161,2692.2,2011.0,2566.785714,2253.333333,2329.083333,2631.666667,2099.125,3133.3,2889.75,2850.000000
1,15,57,415,468,535,417,371,415,1712,981,3896.8,2875.5,3534.571429,3158.000000,3071.083333,3112.166667,2778.500,2842.8,4291.25,4010.833333

In [9]:
df_mca_kMeans_2.loc[0] = df_mca_kMeans_2.iloc[0]/1838
df_mca_kMeans_2.loc[1] = df_mca_kMeans_2.iloc[1]/2693
df_mca_kMeans_2

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.009249,0.003808,0.058215,0.076170,0.124592,0.165397,0.176823,0.385745,0.368335,0.631665,1.464744,1.094124,1.396510,1.22597,1.267184,1.43181,1.142070,1.704733,1.572225,1.550598
1,0.005570,0.021166,0.154103,0.173784,0.198663,0.154846,0.137765,0.154103,0.635722,0.364278,1.447011,1.067768,1.312503,1.17267,1.140395,1.15565,1.031749,1.055626,1.593483,1.489355

In [11]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.46,1.09,1.40,1.23,1.27,1.43,1.14,1.70,1.57,1.55]
cluster_2 = [1.45,1.07,1.31,1.17,1.14,1.16,1.03,1.06,1.59,1.49]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]


 
fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2')
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of Kmeans with number 2 on mca'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kmeans_mca_2.jpg")

In [5]:
df_mca_kMeans_6 = pd.read_csv('clustering_result/result_mca_kmeans_6.csv')
df_mca_kMeans_6.head(6)

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,9,3,62,81,111,137,162,318,400,483,1277.8,951.00,1146.428571,1039.000000,997.333333,958.166667,902.500,1491.0,1391.00,1330.833333
1,6,12,124,141,162,125,103,80,467,286,1104.4,818.00,1207.357143,986.833333,866.000000,785.416667,773.125,798.5,1190.25,1135.000000
2,6,37,215,221,234,174,138,177,802,400,1726.4,1276.25,1376.428571,1328.833333,1317.333333,1253.166667,1214.750,1229.9,1928.75,1761.333333
3,3,1,30,46,82,133,150,360,260,545,1181.2,860.50,1119.142857,965.833333,1015.666667,1321.250000,857.875,1396.9,1265.75,1254.833333
4,2,8,70,96,122,101,105,110,370,244,888.4,651.00,820.642857,713.000000,763.500000,966.333333,651.375,627.5,973.25,940.500000
5,6,3,21,23,53,51,38,79,90,184,410.8,329.75,431.357143,377.833333,440.333333,459.500000,478.000,432.3,432.00,438.333333

In [6]:
df_mca_kMeans_6.loc[0] = df_mca_kMeans_6.iloc[0]/883
df_mca_kMeans_6.loc[1] = df_mca_kMeans_6.iloc[1]/753
df_mca_kMeans_6.loc[2] = df_mca_kMeans_6.iloc[2]/1202
df_mca_kMeans_6.loc[3] = df_mca_kMeans_6.iloc[3]/805
df_mca_kMeans_6.loc[4] = df_mca_kMeans_6.iloc[4]/614
df_mca_kMeans_6.loc[5] = df_mca_kMeans_6.iloc[5]/274
df_mca_kMeans_6.head(6)

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.010193,0.003398,0.070215,0.091733,0.125708,0.155153,0.183465,0.360136,0.453001,0.546999,1.447112,1.077010,1.298334,1.176670,1.129483,1.085126,1.022084,1.688562,1.575311,1.507173
1,0.007968,0.015936,0.164675,0.187251,0.215139,0.166003,0.136786,0.106242,0.620186,0.379814,1.466667,1.086321,1.603396,1.310536,1.150066,1.043050,1.026726,1.060425,1.580677,1.507304
2,0.004992,0.030782,0.178869,0.183860,0.194676,0.144759,0.114809,0.147255,0.667221,0.332779,1.436273,1.061772,1.145115,1.105519,1.095951,1.042568,1.010607,1.023211,1.604617,1.465336
3,0.003727,0.001242,0.037267,0.057143,0.101863,0.165217,0.186335,0.447205,0.322981,0.677019,1.467329,1.068944,1.390240,1.199793,1.261698,1.641304,1.065683,1.735280,1.572360,1.558799
4,0.003257,0.013029,0.114007,0.156352,0.198697,0.164495,0.171010,0.179153,0.602606,0.397394,1.446906,1.060261,1.336552,1.161238,1.243485,1.573833,1.060871,1.021987,1.585098,1.531759
5,0.021898,0.010949,0.076642,0.083942,0.193431,0.186131,0.138686,0.288321,0.328467,0.671533,1.499270,1.203467,1.574296,1.378954,1.607056,1.677007,1.744526,1.577737,1.576642,1.599757

In [16]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.44,1.06,1.15,1.11,1.10,1.04,1.01,1.02,1.60,1.47]
cluster_2 = [1.47,1.09,1.60,1.31,1.15,1.04,1.03,1.06,1.58,1.51]
cluster_3 = [1.45,1.06,1.34,1.16,1.24,1.57,1.06,1.02,1.59,1.53]
cluster_4 = [1.50,1.20,1.57,1.38,1.61,1.68,1.74,1.58,1.58,1.60]
cluster_5 = [1.45,1.08,1.30,1.18,1.13,1.09,1.02,1.69,1.58,1.51]
cluster_6 = [1.47,1.07,1.39,1.20,1.26,1.64,1.07,1.74,1.57,1.56]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]
cluster_3 = [*cluster_3, cluster_3[0]]
cluster_4 = [*cluster_4, cluster_4[0]]
cluster_5 = [*cluster_5, cluster_5[0]]
cluster_6 = [*cluster_6, cluster_6[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2'),
        go.Scatterpolar(r=cluster_3, theta=categories, name='cluster 3'),
        go.Scatterpolar(r=cluster_4, theta=categories, name='cluster 4'),
        go.Scatterpolar(r=cluster_5, theta=categories, name='cluster 5'),
        go.Scatterpolar(r=cluster_6, theta=categories, name='cluster 6'),
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of Kmeans with number 6 on mca'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kmeans_mca_6.jpg")

In [7]:
df_mf_kMeans_2 = pd.read_csv('clustering_result/result_mf_kmeans_2.csv')
df_mf_kMeans_2.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,16,6,110,145,234,294,324,669,687,1111,2631.2,1962.75,2473.428571,2200.166667,2275.00,2555.750000,2055.875,3062.7,2823.25,2782.833333
1,16,60,418,469,519,427,372,452,1697,1036,3959.2,2923.50,3577.285714,3218.500000,3135.75,3203.666667,2833.000,2847.5,4356.00,4078.500000

In [8]:
df_mf_kMeans_2.loc[0] = df_mf_kMeans_2.iloc[0]/1798
df_mf_kMeans_2.loc[1] = df_mf_kMeans_2.iloc[1]/2733
df_mf_kMeans_2

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.008899,0.003337,0.061179,0.080645,0.130145,0.163515,0.180200,0.372080,0.382091,0.617909,1.463404,1.091630,1.375655,1.223674,1.265295,1.421440,1.143423,1.703393,1.570217,1.547738
1,0.005854,0.021954,0.152945,0.171606,0.189901,0.156239,0.136114,0.165386,0.620929,0.379071,1.448664,1.069704,1.308923,1.177644,1.147366,1.172216,1.036590,1.041895,1.593853,1.492316

In [17]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.46,1.09,1.38,1.22,1.27,1.42,1.14,1.70,1.57,1.55]
cluster_2 = [1.45,1.07,1.31,1.18,1.15,1.17,1.04,1.04,1.59,1.49]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2')
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of Kmeans with number 2 on mf'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kmeans_mf_2.jpg")

In [9]:
df_mf_kMeans_6 = pd.read_csv('clustering_result/result_mf_kmeans_6.csv')
df_mf_kMeans_6.head(6)

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,4,11,117,132,150,123,98,88,438,285,1063.8,781.50,1154.428571,955.500000,837.083333,758.333333,742.500,755.3,1139.50,1089.833333
1,3,1,30,45,86,127,144,334,258,512,1131.2,823.25,1057.714286,922.166667,974.583333,1266.000000,823.750,1339.1,1210.25,1199.500000
2,2,8,73,100,123,115,112,136,388,281,967.8,710.75,889.357143,778.500000,832.500000,1052.583333,712.000,679.6,1064.50,1026.666667
3,6,3,23,24,52,49,42,77,91,185,414.2,333.75,432.857143,381.500000,447.500000,463.416667,486.875,419.5,434.25,441.666667
4,8,3,62,86,113,137,160,299,403,465,1253.6,932.50,1114.785714,1023.000000,977.750000,941.500000,886.250,1466.4,1366.00,1307.833333
5,9,40,223,227,229,170,140,187,806,419,1759.8,1304.50,1401.571429,1358.000000,1341.333333,1277.583333,1237.500,1250.3,1964.75,1795.833333

In [10]:
df_mf_kMeans_6.loc[0] = df_mf_kMeans_6.iloc[0]/723
df_mf_kMeans_6.loc[1] = df_mf_kMeans_6.iloc[1]/770
df_mf_kMeans_6.loc[2] = df_mf_kMeans_6.iloc[2]/669
df_mf_kMeans_6.loc[3] = df_mf_kMeans_6.iloc[3]/276
df_mf_kMeans_6.loc[4] = df_mf_kMeans_6.iloc[4]/868
df_mf_kMeans_6.loc[5] = df_mf_kMeans_6.iloc[5]/1225
df_mf_kMeans_6.head(6)

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.005533,0.015214,0.161826,0.182573,0.207469,0.170124,0.135546,0.121715,0.605809,0.394191,1.471369,1.080913,1.596720,1.321577,1.157792,1.048870,1.026971,1.044675,1.576072,1.507377
1,0.003896,0.001299,0.038961,0.058442,0.111688,0.164935,0.187013,0.433766,0.335065,0.664935,1.469091,1.069156,1.373655,1.197619,1.265693,1.644156,1.069805,1.739091,1.571753,1.557792
2,0.002990,0.011958,0.109118,0.149477,0.183857,0.171898,0.167414,0.203288,0.579970,0.420030,1.446637,1.062407,1.329383,1.163677,1.244395,1.573368,1.064275,1.015845,1.591181,1.534629
3,0.021739,0.010870,0.083333,0.086957,0.188406,0.177536,0.152174,0.278986,0.329710,0.670290,1.500725,1.209239,1.568323,1.382246,1.621377,1.679046,1.764040,1.519928,1.573370,1.600242
4,0.009217,0.003456,0.071429,0.099078,0.130184,0.157834,0.184332,0.344470,0.464286,0.535714,1.444240,1.074309,1.284315,1.178571,1.126440,1.084677,1.021025,1.689401,1.573733,1.506720
5,0.007347,0.032653,0.182041,0.185306,0.186939,0.138776,0.114286,0.152653,0.657959,0.342041,1.436571,1.064898,1.144140,1.108571,1.094966,1.042925,1.010204,1.020653,1.603878,1.465986

In [18]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.44,1.06,1.14,1.11,1.09,1.04,1.01,1.02,1.60,1.47]
cluster_2 = [1.47,1.08,1.60,1.32,1.16,1.05,1.03,1.04,1.58,1.51]
cluster_3 = [1.45,1.06,1.33,1.16,1.24,1.57,1.06,1.02,1.59,1.53]
cluster_4 = [1.50,1.21,1.57,1.38,1.62,1.68,1.76,1.52,1.57,1.60]
cluster_5 = [1.44,1.07,1.28,1.18,1.13,1.08,1.02,1.69,1.57,1.51]
cluster_6 = [1.47,1.07,1.37,1.20,1.27,1.64,1.07,1.74,1.57,1.56]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]
cluster_3 = [*cluster_3, cluster_3[0]]
cluster_4 = [*cluster_4, cluster_4[0]]
cluster_5 = [*cluster_5, cluster_5[0]]
cluster_6 = [*cluster_6, cluster_6[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2'),
        go.Scatterpolar(r=cluster_3, theta=categories, name='cluster 3'),
        go.Scatterpolar(r=cluster_4, theta=categories, name='cluster 4'),
        go.Scatterpolar(r=cluster_5, theta=categories, name='cluster 5'),
        go.Scatterpolar(r=cluster_6, theta=categories, name='cluster 6'),
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of Kmeans with number 6 on mf'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kmeans_mf_6.jpg")

## K-prototype

In [9]:
df_ite_kp = pd.read_csv('clustering_result/result_ite_kp.csv')
df_ite_kp.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,17,56,404,450,553,426,373,349,1770,858,3801.4,2803.5,3452.071429,3085.500000,2985.083333,3019.000000,2702.375,2801.7,4196.75,3913.333333
1,15,8,115,154,212,308,331,760,586,1317,2788.2,2081.5,2662.357143,2326.166667,2420.000000,2741.666667,2182.750,3182.6,2985.00,2948.500000

In [10]:
df_ite_kp.loc[0] = df_ite_kp.iloc[0]/2628
df_ite_kp.loc[1] = df_ite_kp.iloc[1]/1903
df_ite_kp.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.006469,0.021309,0.153729,0.171233,0.210426,0.16210,0.141933,0.132801,0.673516,0.326484,1.446499,1.066781,1.313574,1.174087,1.135876,1.148782,1.028301,1.066096,1.596937,1.489092
1,0.007882,0.004204,0.060431,0.080925,0.111403,0.16185,0.173936,0.399369,0.307935,0.692065,1.465160,1.093799,1.399032,1.222368,1.271676,1.440708,1.147005,1.672412,1.568576,1.549396

In [19]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.47,1.09,1.40,1.22,1.27,1.44,1.15,1.67,1.57,1.55]
cluster_2 = [1.45,1.07,1.31,1.17,1.14,1.15,1.03,1.07,1.60,1.49]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2')
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of K prototype with number 2 on ite'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kp_ite_2.jpg")

In [3]:
df_mca_kp = pd.read_csv('clustering_result/result_mca_kp.csv')
df_mca_kp.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,16,56,410,457,559,429,382,358,1822,845,3860.6,2845.25,3502.357143,3135.000000,3030.500000,3047.000000,2737.875,2843.8,4257.5,3972.000000
1,16,8,112,151,205,292,314,766,567,1297,2728.4,2041.25,2599.000000,2276.333333,2369.666667,2696.833333,2139.750,3132.3,2923.5,2888.833333

In [4]:
df_mca_kp.loc[0] = df_mca_kp.iloc[0]/2667
df_mca_kp.loc[1] = df_mca_kp.iloc[1]/1864
df_mca_kp.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.005999,0.020997,0.153731,0.171354,0.209599,0.160855,0.143232,0.134233,0.683165,0.316835,1.447544,1.066835,1.313220,1.175478,1.136295,1.142482,1.026575,1.066292,1.596363,1.489314
1,0.008584,0.004292,0.060086,0.081009,0.109979,0.156652,0.168455,0.410944,0.304185,0.695815,1.463734,1.095091,1.394313,1.221209,1.271280,1.446799,1.147935,1.680418,1.568401,1.549803

In [27]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.46,1.10,1.39,1.22,1.27,1.45,1.15,1.68,1.57,1.55]
cluster_2 = [1.45,1.07,1.31,1.18,1.14,1.14,1.03,1.07,1.60,1.49]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2')
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of K prototype with number 2 on mca'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kp_mca_2.jpg")

In [11]:
df_mf_kp = pd.read_csv('clustering_result/result_mf_kp.csv')
df_mf_kp.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,16,58,417,458,545,432,388,374,1813,875,3889.4,2869.25,3508.142857,3166.000000,3058.833333,3087.666667,2761.750,2845.1,4288.75,4008.166667
1,16,8,111,156,208,289,308,747,571,1272,2701.0,2017.00,2542.571429,2252.666667,2351.916667,2671.750000,2127.125,3065.1,2890.50,2853.166667

In [12]:
df_mf_kp.loc[0] = df_mf_kp.iloc[0]/2688
df_mf_kp.loc[1] = df_mf_kp.iloc[1]/1843
df_mf_kp.head()

,11,12,13,14,15,16,17,18,Female,Male,dietary,hygiene,injury,mental_health,tobacco_use,alcohol_use,drug_use,sexual_behaviours,physical_activity,protective_factors
0,0.005952,0.021577,0.155134,0.170387,0.202753,0.160714,0.144345,0.139137,0.674479,0.325521,1.446949,1.067429,1.305113,1.177827,1.137959,1.148686,1.027437,1.058445,1.595517,1.491133
1,0.008681,0.004341,0.060228,0.084645,0.112859,0.156810,0.167119,0.405317,0.309821,0.690179,1.465545,1.094411,1.379583,1.222283,1.276135,1.449674,1.154164,1.663104,1.568367,1.548110

In [30]:
categories = ['dietary_behaviours','hygiene','injury','mental_health','tobacco_use','alcohol_use','drug_use','sexual_behaviours','physical_activity','protective_factors']
categories = [*categories, categories[0]]

cluster_1 = [1.47,1.09,1.38,1.22,1.28,1.45,1.15,1.66,1.57,1.55]
cluster_2 = [1.45,1.07,1.31,1.18,1.14,1.15,1.03,1.06,1.60,1.49]
cluster_1 = [*cluster_1, cluster_1[0]]
cluster_2 = [*cluster_2, cluster_2[0]]



fig = go.Figure(
    data=[
        go.Scatterpolar(r=cluster_1, theta=categories, name='cluster 1'),
        go.Scatterpolar(r=cluster_2, theta=categories, name='cluster 2')
    ],
    layout=go.Layout(
        title=go.layout.Title(text='Result of K prototype with number 2 on mf'),
        polar={'radialaxis': {'visible': True}},
        showlegend=True
    )
)

pyo.plot(fig)
fig.write_image("radar_chart_Kp_mf_2.jpg")